<% if can? :admin, Admin::Pages %>
  <ul class="nav nav-sidebar">
    <li class="sidebar-menu-item"><a class="icon-link with-tip action-shopping-cart" href="/admin/pages" data-original-title="" title=""><span class="icon icon-shopping-cart"></span> <span class="text">Pages</span></a></li>
  </ul>
<% end %>
