- content_for :page_title do
  = Spree.t(:editing_resource, resource: Spree::Brand.model_name.human)
  %span.green
    "#{@brand.name}"
- content_for :page_actions do
  = button_link_to Spree.t(:back_to_resource_list, resource: Spree::Brand.model_name.human), spree.admin_brands_path, class: 'btn-primary', icon: 'arrow-left'
= render 'form'
