.btn-group-fixed
  .row
    .fright
      = link_to '<i class="fa fa-save"></i>'.html_safe, '#', 'data-disabled': 'false', class: 'btn btn-warning btn-fixed btn-save-translations hidden'
    .fright
      = link_to '<i class="fa fa-edit"></i>'.html_safe, '#', 'data-disabled': 'false', class: 'toggle-editable btn btn-success btn-fixed'
    .fright
      = form_with url: tolk.dump_all_locales_path do |form|
        = form.submit 'Guardar', class: 'save-translations btn btn-default btn-fixed hidden'
