textarea, .ck-editor__editable {
  min-height: 150px;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
}

.option-bar {
  padding: 10px 10px 10px 35px;
  background-color: #FFFFFF;
  border-top: 1px solid #dee2e6;
  margin-left: -20px;
}

.no-sort {
  pointer-events: none!important;
  cursor: default!important;
  &::after { display: none!important; }
}

