textarea, .ck-editor__editable {
  min-height: 150px;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
}

.option-bar {
  padding: 10px;
  background-color: #FFFFFF;
  border-top: 1px solid #dee2e6;
  margin-left: -20px;
}

