@import "theme/variables";

textarea, .ck-editor__editable {
  min-height: 150px;
}

.fixed-bottom {
  position: fixed;
  bottom: 0;
}

.option-bar {
  padding: 10px 10px 10px 35px;
  background-color: #FFFFFF;
  border-top: 1px solid #dee2e6;
  margin-left: -20px;
}

.no-sort {
  pointer-events: none!important;
  cursor: default!important;
  &::after { display: none!important; }
}

h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 16px;
    margin-bottom: 10px;
}

ul.family-group {
  text-decoration: none;
  list-style: none;
  padding: 0;
  li {
    padding: 10px 15px;
    &.family-member {
      & a.btn {
        background-color: transparent;
        border: 0px;
        color: $gray-400;
      }
      &:hover {
        background-color: $gray-200;
        & a.btn {
           color: $gray-600;
        }
      }
    }
  }
}

table.table tbody tr td.actions {
  min-width: 115px;
}

.btn.action-add {
  margin-right: 4px;
}

