%div{ 'data-hook': "admin_product_form_has_attachments" }
  = f.field_container :with_attachments, class: ['form-group'] do
    = f.label :with_attachments, Spree.t(:with_attachments) %>
    = f.error_message_on :with_attachments %>
    = f.check_box :with_attachments, class: 'form-control' %>
