@charset "utf-8";

@import "bootstrap-sprockets";
@import "bootstrap";
@import "admin/spree";
@import "dropzone/dropzone";

// @import "theme/slider.min";
// @import "theme/lightbox";
// @import "theme/datepicker.min";
// @import "theme/timepicki.min";
// @import "theme/owl.carousel.min";

// Core variables and mixins
@import "theme/variables";
@import "theme/mixins";
// Global CSS
@import "theme/global";
// Components
@import "theme/masthead";
@import "theme/social";
@import "theme/bootstrap-overrides";
//theme
@import "theme/ascaz";

header.header{
  margin-bottom: 100px;
}

.label {
  .label-numbers{
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    background: red !important;
  }
}

/*.editable-container {
  .editable-input, .editable-buttons {
    display: inline;
  }
  .editable-input > input {
    background: transparent;
    color: inherit;
  }
}*/

.btn-group-fixed {
  z-index: 100;
  position: fixed;
  top: 45px;
  right: 45px;
  .btn{
    margin-right: 5px;
    -webkit-box-shadow: -1px 10px 18px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 10px 18px -9px rgba(0,0,0,0.75);
    box-shadow: -1px 10px 18px -9px rgba(0,0,0,0.75);
    &:active{
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }
  }
}

.hidden {
  display: none;
}

.editable-container.editable-inline {
  position: fixed;
  z-index: 99;
  top:0;
  left: 0;
  width: 100%;
  height: 80vh;
  background: rgba(0,0,0,0.5);
  background: -moz-linear-gradient(top, rgba(0,0,0,0.8) 0%, rgba(255,255,255,0) 100%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.8) 0%,rgba(255,255,255,0) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%,rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00ffffff',GradientType=0 );
  .editableform {
    position: absolute;
    margin-top: 20vh;
    width: 100%;
    & > div {
      margin: auto;
      width: 50vw;
      div, textarea, input {
        width: 100%;
      }
      button{
        display: none;
        margin: 0 5px;
        &.editable-cancel {
          display: inline;
          position: fixed;
          top: 65px;
          right: 35px;
          cursor: pointer;
          background: transparent;
          color: white;
          font-size: 20px;
        }
      }
    }
  }
}
